

.callout_code {
  background-color: lightgrey;
  padding: 1px;
  /* adds a background colour to the button */
  color: black;
  /* changes the text colour */
  cursor: pointer;
  /* bubble style */
  border-radius: 5px;
  border: 1px dotted black;
  /* underline style */
  /*text-decoration: underline dotted blue;*/
}

.callout_text {
  background-color: lightgrey;
  /* adds a background colour to the button */
  color: black;
  /* changes the text colour */
  cursor: pointer;
  /* changes the mouse on hover */
  border-radius: 5px;
  border: 1px dotted black;
  padding: 1px;
}

p {
  line-height:1.5em;
}

.hover_text {
  background-color: #ffff7f;
}

.summary {
  padding: 10px;
}
