

/* yellow (highlight) */
.highlighted {
  font-family: 'Roboto Mono', monospace;
  color: black;
  background-color: #ffff7f;
}

/* pink (deleted) */
.deleted {
  font-family: 'Roboto Mono', monospace;
  color: black;
  background-color: #ffbaaf;
}

/* purple (modified) */
.modified {
  font-family: 'Roboto Mono', monospace;
  color: black;
  background-color: #d9deff;
}

/* green (inserted) */
.inserted {
  font-family: 'Roboto Mono', monospace;
  color: black;
  background-color: #2cb93e;
}



