
/* yellow (highlight) */
.highlighted {
  font-family: 'Roboto Mono', monospace;
  color: black;
  background-color: #ffff7f;
}

/* pink (deleted) */
.deleted {
  font-family: 'Roboto Mono', monospace;
  color: black;
  background-color: #fea5a3;
}

/* green (inserted) */
.inserted {
  font-family: 'Roboto Mono', monospace;
  color: black;
  background-color: #c8ff9e;
}

/* purple (modified) */
.modified {
  font-family: 'Roboto Mono', monospace;
  color: black;
  background-color: #c6c0fd;
}


