
.hover_yellow {
  background-color: #ffff7f;
}

.callout_text {
  background-color: lightgrey;
  /* adds a background colour to the button */
  color: black;
  /* changes the text colour */
  cursor: pointer;
  /* changes the mouse on hover */
  border-radius: 5px;
  border: 1px dotted black;
  padding: 1px;
}

.callout_text:hover {
  background-color: #ffff7f;
    /* adds a background hover colour to the button */
    color: #333;
    border: 1px solid black;
  /* changes the text colour on hover */
    border-radius: 5px;
}

.summary {
  padding: 10px;
}
