h2 {
 font-family: cursive;
}

/* CodeMirror */

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  width: 100%;
  margin-left: 0px;
  padding-top: 10px;
}

.CodeMirror-line:hover{
  cursor:pointer
}

.CodeMirror-lines:hover{
  cursor:pointer
}

.CodeMirror-gutters {
  opacity: 0;
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: wrap;
}

/* Summary box and ghost summary box keys */

.error-square-key {
  width: 2em;
  height: 2em;
  background: #fb8072;
  border-radius: 0.5rem;
}

.error-square-key:hover{
  cursor:pointer
}

.none-square-key {
  width: 2em;
  height: 2em;
  background-color: grey;
  border-radius: 0.5rem;
}

.none-square-key:hover{
  cursor:pointer
}

.internal-square-key {
  width: 2em;
  height: 2em;
  background-color: lightblue;
  border-radius: 0.5rem;
}

.internal-square-key:hover{
  cursor:pointer
}

.visible-square-key {
  width: 2em;
  height: 2em;
  background-color: #fff1ce;
  border-radius: 0.5rem;
}

.visible-square-key:hover{
  cursor:pointer
}

/* Summary box and ghost summary box */

.invisible-square {
  border: 0px dashed transparent;
  width: 2em;
  height: 2em;
  color: transparent;
  background-color: transparent;
}

.invalid-square {
  border: 0px dashed transparent;
  width: 2em;
  height: 2em;
  color: transparent;
  background-color: transparent;
}

.error-square {
  width: 2em;
  height: 2em;
  background: #fb8072;
}

.internal-square {
  border: 1px dashed black;
  width: 2em;
  height: 2em;
  background-color: lightblue;
}

.internal-square:hover{
  cursor:pointer
}

.none-square {
  border: 1px dashed black;
  width: 2em;
  height: 2em;
  background-color: grey;
}

.none-square:hover{
  cursor:pointer
}

.visible-square {
  border: 1px dashed black;
  width: 2em;
  height: 2em;
  background-color: #fff1ce;
}

.visible-square:hover{
  cursor:pointer
}

.empty-square {
  width: 3em;
  height: 2em;
  /* padding-top: 90%; */
}

/* Sortable styles */

.glyphicon-move {
  font-size: 1em;
  color: #2c3745;
  cursor: -webkit-grabbing;
  margin-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0em;
}

.glyphicon-move.static {
  font-size: 1em;
  color: #2c3745;
  cursor: pointer;
  margin-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0em;
}


.list-group {
  width: auto;
  display: flex;
  justify-content: center;
}

.list-group-item {
  width: 100%;
  height: auto;
  /*border: 1px solid #eee;*/
  padding: 0px;
  margin: 0px;
  display: flex;
  /* align-items: center; */
}

.list-group-item:hover {
  cursor:pointer;
}

.list-group-item.static {
  background-color: #eee;
}

#simpleList {
  margin: 10px;
}

/* Summary text */

.summary {
  padding: 1em;
}

/* tippy */

.tippy-box {
  border-radius: 1.5rem;
  margin: 1em;
}

.tippy-content {
  padding: 1em;
}

/* misc formatting */

.code {
  background: #eee;
  color: black;
  line-height: 1.8;
}

.number {
  font-family: Tahoma;
}

/* Change css styles */

.internal-change {
  background: #a2d2e1;
  border-radius: 0.5rem;
  padding: 0.1em;
}

.visible-change {
  background: #ffefc7;
  border-radius: 0.5rem;
  padding: 0.1em;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Toggle */
/* source: https://www.w3schools.com/howto/howto_css_switch.asp */

.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 20px;
  margin : 0.5em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #52af52;
}

input:focus + .slider {
  box-shadow: 0 0 1px #52af52;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 60%;
}

